package graph

templ siteReleaseBadge() {
	<span data-site-version={ siteVersion() } class="inline-flex text-[10px] font-mono text-warm-faint" title="Site release">Site { siteReleaseDisplay() }</span>
}
